body {
    font-family: 'ubuntu', Helvetica, sans-serif;
    line-height: 1.45;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;    
}

* {
    box-sizing: border-box; 
}


html,
body {
    height: 100%;
}


ul, 
li {
    margin:0;
    padding:0;
}

h1,h2,h4 {
    font-family: 'gagalin', Verdana, Tahoma, sans-serif;
    line-height: 1.45;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased; 

    font-size: 72px;
    text-transform: uppercase;
}

h3 {
    font-family: 'lifehack', fantasy, sans-serif;
    line-height: 1.45;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased; 
}

.wrapper{
    height: 100%;
}

.button{
    border-radius: 5px;
    background-color: #e45128; 

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 13px;

    padding: 8px 17px;
    height: 35px;
}

.button:hover{
    background-color: #e48c28; 
    transition: .4s;
}

/* sections bg */
.sections--first-screen{  
    background-image: url('../../img/first-screen/bg.jpg');    
}
.sections--we{
    background-image: url('../../img/we/bg.jpg');
    
}
.sections--burgers{
    background-image: linear-gradient(to top, #f9b43b, #eb8c38 48%, #f9b43b 74%);   
}
.sections--team{
    background-image: url('../../img/team/bg.jpg');
    
}
.sections--menu{
    background-image: url('../../img/menu/bg.jpg');
    
}
.sections--howwork{
    background-image: url('../../img/howwork/bg.jpg');
    
}
.sections--form{
    background-image: url('../../img/form/bg_texture.png'), url('../../img/form/bg.jpg');  
    /*background-blend-mode: exclusion;*/
}
.sections--contacts{
    background-image: url('../../img/contacts/bg.jpg');
}
