.footer{
    /*align-self: flex-end;*/
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__copyright,
.footer__social{
    flex-basis: 40%;
}

/* copyright */

.footer__copyright-street{
    color:white;
    font-size: 14px;
    font-weight: 400;

    margin-bottom: 12px;
}

.footer__copyright-number{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #e45028;
}

.footer__copyright-number:before{
    content: "";
    display: inline-block;

    background-image: url('../../img/contacts/phone.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 12px;
    height: 11px;

    margin-right: 6px;
}

/* socials */

.footer__social-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.footer__social-item{
    margin-right: 20px;
}
.footer__social-item:last-child{
    margin-right: 0;
}

.footer__social-text{
/*
    text-indent: 100%;
    white-space: normal;
    overflow:hidden;
*/
    display: none;
}

.footer__social-img{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.footer__social-im--vk:before{
    content: "";
    display: inline-block;

    background-image: url('../../img/contacts/vk.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    width: 23px;
    height: 13px;
}
.footer__social-im--fb:before{
    content: "";
    display: inline-block;

    background-image: url('../../img/contacts/fb.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    width: 20px;
    height: 20px;
}
.footer__social-im--instagram:before{
    content: "";
    display: inline-block;

    background-image: url('../../img/contacts/inst.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    width: 20px;
    height: 20px;
}
.footer__social-im--tw:before{
    content: "";
    display: inline-block;

    background-image: url('../../img/contacts/twitter.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    width: 20px;
    height: 16px;
}