
.logo{
    display: inline-block;

    width: 92px;
    height: 69px;

    object-fit: contain;
    overflow: hidden;

    margin-top: 13px;
    margin-right: 69px;
}

.logo__title{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}