.reviews__list{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    height: 100%;
}

.reviews__list-item{  
    align-content: stretch;

    color: white;

    flex-basis: calc(100%/4);

    height: 50%;

    position: relative;
}

.reviews__list-item:hover .reviews__img-block:after{
    content: "";
    display: inline-block;

    width: 100%;
    height: 100%;

    background-color:rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;

    transition: background-color .5s;
}

.reviews__list-item:hover .reviews__description{
    opacity: 1;
    transition: .5s;
}

.reviews__img-block{
    width:100%;
    height: 100%;
    overflow: hidden;
}

.reviews__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transform: scale(-1, 1);
}

.reviews__description{
    position: absolute;
    top: 0;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
}

.reviews__description-block{
    width: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.reviews__name{
    font-size: 14px;

    margin-bottom: 30px;
}

.reviews__text{
    font-size: 14px;

    margin-bottom: 17px;
}

.button--more{
    background-color: #2f3234;
}

.button--more:hover{
    background-color: #1f2122;
}